#listStaff th,
#listStaff td{
    text-align: center;
}
#listStaff .col-id{
    width: 50px;
}
#listStaff .col-action{
    width: 200px;
}
#listStaff .col-name{
    width: 250px;
}
#btnAddStaff{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: green;
    color: white;
}

#btnAddStaff:hover{
    background-color: darkgreen;
}

#frmStaffFilter{
    width: 980px;
    margin: 0 auto;
    padding: 7px 0;
    display: block;
    overflow: hidden;
}

#frmStaffFilter input[type=text]{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    float: right;
    display: block;
    width: 300px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
}

