#questions{
    padding: 10px;
}

#questions table{
    margin: 15px auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 600px;
    background-color: #eee;
}

#questions table th,
#questions table td{
    padding: 7px;
    border: 1px solid #ccc;
}
#questions table th{
    font-weight: normal;
    text-align: left;
}
#questions table td:first-child{
    width: 50px;
    text-align: center;
}
#questions table td:nth-child(3){
    width: 50px;
    text-align: center;
}
#questions input[type=radio]{
    width: 100%;
    display: inline-block;
    cursor: pointer;
}
#questions button[type=submit]{
    padding: 10px;
    font-size: 16px;
    background-color: #13202C;
    color: white;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.ques-desc{
    background-color: #133E56;
    color: white;
}

#questions .ques-desc th{
    padding: 18px;
}

h2.quizHeader{
    border-bottom: 1px solid #ccc;
    padding: 7px 0 7px 0;
    overflow: hidden;
    color: #8AC007;
    font-size: 36px;
}

h2.quizHeader .quizTitle{
    display: block;
    float: left;
    width: 750px;
}

h2.quizHeader .quizTime{
    display: block;
    float: right;
    width: 250px;
    color: #133E56;
    text-align: right;
}
h2.quizHeader .quizTime #time{
    color: red;
    vertical-align: middle;
}

.choice:hover{
    background-color: #CDE4F3;
}

.choice-desc, .choice-letter{
    cursor: pointer;
}
